.main {
  margin-right: 20px;

  .bg {
    display: flex;
    background: #bed5e4;
    border-radius: 6px;

    .off,
    .on {
      border-radius: 6px;
      padding: 14px;
      color: black;
    }

    .on {
      background-color: black;
      color: #fff;
    }
  }
}
