.main {
  display: flex;
  gap: 10px;
  font-size: 0.7rem;
  margin-top: 8px;
  margin-bottom: 26px;

  .board {
    display: flex;
    flex-direction: column;
    background: #2400ff;
    padding: 10px 20px;

    border-radius: 4px;

    .title {
      color: white;
    }

    .subtitle {
      color: white;
    }
  }
}
