.main {
  position: relative;

  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  height: 500px;
  width: 500px;

  .closeButton {
    position: absolute;
    right: 10px;
    top: 5px;
  }

  .instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;

    text-align: start;
    padding: 40px;

    .title {
      font-weight: bold;
      margin-bottom: 20px;
    }

    .mintButton {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }

    .line {
      font-size: 0.9rem;
      margin-bottom: 10px;
    }
  }
}
