.main {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: solid 1px #aaa;
  margin-left: 30px;

  .title {
    padding: 12px;
    border-bottom: solid 1px #aaa;

    font-size: 1.2rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 16px;
    border-radius: 6px;
    gap: 10px;

    .item {
      position: relative;
      height: 80px;
      width: 80px;
      background-color: white;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ccc;
      font-weight: bold;
      overflow: hidden;

      .background {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
      }

      .overlay {
        font-size: 0.6rem;
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.75);
        justify-content: center;
        align-items: center;

        .content {
          display: flex;
          flex-direction: column;

          color: white;

          .first {
            font-size: 0.65rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}
