.main {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 16px 16px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;

  .item {
    height: 106px;
    width: 106px;
    background-color: white;
    margin: 15px 0px 0px 0px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-weight: bold;
  }
}
