.gridRow {
  display: flex;
  width: 100%;
  margin-top: 40px;

  .rightSide {
    position: relative;
    padding: 0px 20px;
  }

  .leftSide {
    position: relative;
  }

  .gameProgress {
    display: flex;
    flex-direction: column;
  }
}
