.gridRow {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .leftSide {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }

  .gameProgress {
    display: flex;
    flex-direction: column;
  }
}
