.gridRow {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: flex-start;
  justify-content: center;

  .rightSide {
    position: relative;
    padding: 0px 20px;
  }

  .leftSide {
    position: relative;
  }

  .gameProgress {
    display: flex;
    flex-direction: column;
  }
}
